body {
    font-family: Arial, sans-serif;
    background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: radial-gradient(circle at 10% 20%, rgb(239, 153, 237) 0%, rgb(235, 163, 249) 32.2%, rgb(253, 200, 200) 90%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification.show {
    display: block;
    opacity: 1;
}
